# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment files (future secrets)
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform (future)
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Logs
*.log

# Testing
.pytest_cache/

# Coverage reports
.coverage
htmlcov/